<div id="login-register-form" class="container centered">

  <h1 class="line-title"><span class="line-center">USER LOGIN</span></h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div id="login-register-form" class="wrapper">
        <%= f.label :email, "Email Address" %>
        <%= f.text_field :email, class: "form-control" %>

        <%= f.label :password, "Password" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div id="login-register-form" class="wrapper">
        <div class="table">
          <div class="column"><%= f.submit "LOGIN", class: "button darkbrown" %></div>
          <div class="column">Forgot Password?</div>
        </div>
      </div>
  <% end %>

  <h2 class="line-title"><span class="line-center">Haven't Registered Yet?</span></h2>

  <div id="login-register-form" class="bottom-wrapper">
    <%= link_to "<button class=\"button darkbrown\">REGISTER</button>".html_safe, new_customer_registration_path , :method => "get" %>
  </div>

</div>